html{
    scroll-behavior: smooth;
  }
  
  ::-webkit-scrollbar{
    width: 10px;
  }
  
  ::-webkit-scrollbar-track{
    border-radius: 2px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
  }
  
  ::-webkit-scrollbar-thumb{
    border-radius: 2px;
    background-color: #888389;
  }
  
  body{ /* Dito ko ineedit ang font at background color ng page */
      margin: 0;
      width: 100%;
      height: 100%;
      font-family: Arial, Helvetica, sans-serif;
    }

.logo h1{
        margin: 25px;
        margin-left: 25px;
        float: left;
        margin-left: 30px;
        font-size: 30px;
        color: #1a0000;
        letter-spacing: 1.5px;
    }
    
.nav {
        text-align: right;
        height: 20px;
        line-height: 70px;
    }
.menu {
        background-color: transparent;
        margin: 0 25px  0;
        margin-right: 25px;
    }

.menu a {
        font-size: 17px;
        clear: right;
        text-decoration: none;
        color: black;
        margin: 0px 20px;
        line-height: 70px;
    }
    
.menu a:hover{
      background-color: transparent;
      color: #4b90cc;
    }
    
a span {
        color: #cd4c73;
    }
    
label {
        margin: 0 40px 0 0;
        font-size: 26px;
        line-height: 70px;
        display: none;
        width: 26px;
        float: right;
    }

 #toggle {
        display: none;
    }

    section{
        margin-top: 6%;
        margin-left: 16%;
    }
  
    section h1{
        font-size: 30px;
        margin-left: 31%;
        margin-bottom: 30px;
    }
    section h1 .material-icons{
        display: block;
        position: absolute;
        left: 39%;
        font-size: 35px;
    }
  
    .patient table{
        text-align: center;
        margin-top: 10px;
    }
  
    .patient th{
        font-size: 14px;
        padding: 10px 30px 10px 30px;
        border-radius: 2px;
        background-color: #2f2c2d;
        color: whitesmoke;
    }
  
    .patient td{
        padding: 10px;
    }

    button{
        border: none;
    }
    
    .patient td .material-icons{
        position: relative;
        color: #3fa890;
        font-size: 30px;
    }

    #delete{
        border: none;
        color: #cd4c73;
        cursor: pointer;
    }

    .patient .material-icons:hover{
        color: #888389;
    }

    .patient #delete:hover{
        color: #888389;
    }