body { /* Dito ko ineedit ang font at background color ng page */
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  .box h1{
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 38px;
    font-weight: 500;
    margin-top: 15px;
    margin-left: 20px;
  }

  .box{
      width: 400px;
      height: 500px;
      padding: 40px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #2f2c2d;
      text-align: center;
      border-radius: 10px;
  }

  .box .close {
    position: absolute;
    margin-left: 84%;
    margin-top: -25px;
  }

  .box .close a{
    color: whitesmoke;
    font-size: 30;
  }

  .box .close a:hover{
    color: salmon;
    transition: 0.3s;
  }

  .box input{
      border: 0;
      color: black;
      font-size: 14px;
      background-color: white;
      display: block;
      margin: 20px;
      margin-left: 30px;
      text-align: center;
      border: 2px solid whitesmoke;
      padding: 14px 10px;
      width: 320px;
      outline: none;
      border-radius: 10px;
      cursor: auto;
  }

  .box select{
    border: 0;
    font-size: 15px;
    background-color: white;
    display: block;
    margin: 20px;
    margin-left: 30px;
    text-align: center;
    border: 2px solid whitesmoke;
    padding: 14px 10px;
    width: 345px;
    outline: none;
    color: black;
    border-radius: 10px;
    cursor: auto;
  }

  .box select option{
      color: black;
  }

  .box input[type= "submit"]{
    font-size: 16px;
    background-color: whitesmoke;
    display: block;
    width: 200px;
    margin-left: 110px;
    text-align: center;
    border: none;
    padding: 14px 70px;
    outline: none;
    color: #1a0000;
    border-radius: 24px;
    cursor: pointer;
  }

  .box input[type= "submit"]:hover{
      background-color: skyblue;
  }